In [10]:
import os, sys, time
sys.path.append("../src")

from tqdm import tqdm
import numpy as np
import torch
import json
from datasets import load_from_disk
from transformers import ViTForImageClassification
from utils.helper import get_device
from utils.vit_util import transforms
from utils.constant import ViTExperiment
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
sns.set_style("ticks")

In [15]:
kn_dir = os.path.join(ViTExperiment.OUTPUT_DIR, "neuron_scores")
for method in ["base", "ig_list"]:
    cnt = []
    for tgt_label in range(8):
        kn_path = os.path.join(kn_dir, f"{method}_l9tol12_{tgt_label}.json")
        json_data = json.load(open(kn_path, "r"))
        cnt.append(json_data["num_kn_per_layer"])
    cnt = np.array(cnt)
    df = pd.DataFrame([])
    for dic in cnt:
        dic["total"] = sum(dic.values())
        df = df.append(dic, ignore_index=True)
    # dfのデータ型を整数にする
    df = df.astype(int)
    display(df)

   9  10  11  total
0  2   0  10     12
1  2   0  10     12
2  2   0  10     12
3  2   0  10     12
4  2   0  10     12
5  2   0  10     12
6  2   0  10     12
7  2   0  10     12

   9  10   11  total
0  0   0  110    110
1  0   0  103    103
2  0   0  113    113
3  0   0   45     45
4  0   0   80     80
5  0   0  105    105
6  0  24   81    105
7  0   0  101    101